body {
    background-size: cover;
    overflow: hidden;
}
#bsolsystemet {
    background-image: url(Melkeveien-01.svg);
}
#bmerkur {
    background-image: url("Merkur.svg");
}
#bvenus{
    background-image: url("venus.svg");
}
#btellus {
    background-image: url("tellus.svg");
}
#bmars {
    background-image: url("Mars.svg");
}
#bjupiter {
    background-image: url("Jupiter.svg");
}
#bsaturn {
    background-image: url("Saturn-01.svg");
}
#buranus {
    background-image: url("Uranus.svg");
}
#bneptun {
    background-image: url("Neptun.svg");
}
h1 {
    color: white;
    margin-top: 35px;
    padding-top: 130px;
    font-size: 80px;
}
p {
    width: 50%;
    color: white;
    font-size: large;
}
li {
    list-style-type: none;
    float: left;
    margin: 10px;
    display: block;
}
nav ul li a {
    padding: 1.3em;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-family: Damascus
}
.navsolsystem {
    margin-top: 35px;
}
#merkur {
    background-color: grey;
}
#venus {
    background-color: #E0B975;
}
#tellus {
    background-color: green;
}
#mars {
    background-color: brown;
}
#jupiter {
    background-color: #68412C;
}
#saturn {
    background-color: rosybrown;
}
#uranus {
    background-color: aqua;
}
#neptun {
    background-color: darkblue;
}
a:hover {
    background-color: black;
    opacity: .2;
}

@keyframes fly {

    from {
        left: -350px;
        top: -70px;
    }
    to {
        left: 150%;
        top: 600px;
    }

}
@keyframes fly1 {
    from {
        left: -800px;
        top: 155px
    }
    to {
        left: -60px;
        top: 155px;
    }
}
@keyframes back2back {

    0% {
        left: 800px;
        top: 55%;
    }
    50% {
        left: 950px;
        top: 55%;
    }
    100% {
        left: 800px;
        top: 55%;
    }

}

#komet {
    position: absolute;
    transform: rotate(-70deg);
    left: -350px;
    top: -70px;
    animation: fly 3s;
    z-index: -10;
}
#komet2 {
    position: absolute;
    left: -60px;
    top: 155px;
    animation: fly1 3s;
    z-index: -1;
}
#komettr {
    position: absolute;
    transform: rotate(-90deg);
    top: 112px;
    left: 475px;
    opacity: 0;
}
#moon {
    position: absolute;
    animation: back2back 6s;
    animation-iteration-count: infinite;
    width: 100px;
}